/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

$color-main: rgb(22, 102, 193);
$font-color-main: #ffffff;
$font-color-second: rgb(36, 154, 205);
$font-color-third: black;
$font-color-four: #39444C;

body {
  color: $font-color-main;
}

.main-color {
  color: $color-main;
}

.font-color-main{
  color: #FFFFFF;
}

#main-nav {
  background: $color-main;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;

  @media screen and (min-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  padding: 20px;

  .navbar-toggle {
    background-color: $font-color-second;
    .icon-bar {
      background-color: $font-color-third;
    }
  }
  .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .navbar-brand {
    .initial {
      font-size: 20px;
      letter-spacing: 5px;
      color: $font-color-main;

    }
    text-transform: uppercase;
    letter-spacing: 10px;
  }

  #site-nav {
    a {
      min-width: 120px;
      font-size: 16px;
      color: $font-color-main;
      text-align: center;
      padding: 7px 30px;
      background: none;
      transition: color 0.2s ease-out, padding 0.3s ease-out;

      &:hover, &:focus {
        padding-top: 4px;
        padding-bottom: 10px;
        color: $font-color-second;
        background: none;
      }
    }

    i {
      margin-right: 15px
    }

  }

}

#first-section {
  position: fixed;
  color: $font-color-third;
  z-index: -100;
  background-image: url("../img/portofliowp.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  .d1 {
    font-size: 72px;
    color: $font-color-second;
  }
  .d2 {
    color: $font-color-second;
  }
  height: 100vh;
  width: 100vw;
  padding-top: 100px;
}

#main-content {
  color: $font-color-third;
  padding-top: 96vh;

}

.btn-group .btn.active {
  color: $color-main;
  background: #fff;
  box-shadow: none;
}

#buttons-skills{

  margin-bottom: 80px;
  button{
    width: 50%;
    padding: 15px 45px;

  }
  .btn:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  .btn:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .btn{
    padding: 7px 60px;
    font-size: 16px;
    background: none;
    border-color: #b9c4cC;
    color: $font-color-main;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
}

@media (max-width: 767px){
  .btn-group .btn {
    padding: 7px 30px;
  }
}


.btn-group .btn:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.scroll-down {
  a {
    color: $font-color-third;

  }
  a:after {
    display: block;
    margin-top: -7px;
    content: "\f0d7";
    font-family: fontAwesome;
    font-size: 21px;
  }

  text-align: center;
  background-color: $color-main;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, .2);

}

#services {
  text-align: center;
  background-color: $font-color-second;
  padding-bottom: 30px;
  padding-top: 30px;

  .section-title {
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 62px;
    font-weight: 400;
    color: #39444C;
    text-align: center;
  }

  .text-center {
    margin: 30px;
  }
  .tab-content {
    margin-top: 40px;

    .scrollimation {
      opacity: 0;
      -webkit-transform: translateX(60px);
      -moz-transform: translateX(60px);
      -ms-transform: translateX(60px);
      transform: translateX(60px);
      -webkit-transition: -webkit-transform 1.2s ease-out, opacity 1.2s ease-out;
      transition: transform 1.2s ease-out, opacity 1.2s ease-out;

      &.in {

        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);

      }
    }
  }
  .service-icon {
    text-align: center;
    display: block;
    margin: 0 auto 30px;
    width: 180px;
    height: 180px;
    border: 1px solid #ddd;
    color: $font-color-main;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    i {
      font-size: 100px;
      margin-top: 40px;
    }
  }
}